<div class="contentUser">
    <img src="img/users/user.png" class="userPicture">
    <h1 id="userName" onclick="event.stopPropagation()">
        <img src="img/menu.png" onclick="config()" id="menu">
        {{user.user}}
        <ul id="config" style="display: none;">
            <li style="padding: 5px 0;"><a class="configUser" href="#">Cambiar contarseña</a></li>
            <li style="padding: 5px 0;"><a class="configUser" href="#">Eliminar cuenta</a></li>
            <li style="padding: 5px 0;"><a class="configUser" href="#">Salir</a></li>
        </ul>
    </h1>
    <form action="/tracksUser" method="GET" style="display: inline;">
        <input type="text" value="{{user.user}}" name="tracksUser" style="display: none;">
        <button>Mis Canciones</button>
    </form>
    <form action="uploadTrack" method="GET" style="display:inline;">
        <button type="submit" id="addTrack">
            <img src="img/add-track.png" title="Agregar cancion" class="addTrack">
        </button>
    </form>
    {{#if message}}
    <p id="message" class="{{message.class}}">{{message.content}}</p>
    {{/if}}
    <div class="contentQuery">
        <form id="formQuery" action="/canciones" method="GET">
            <input type="search" name="cancion" id="cancion" placeholder="Buscar Canción">
            <input type="submit" value="Buscar" id="buscar">
        </form>
    </div>
</div>
<div class="app">
    <div id="contentListTracks">
        <ul id="contentTrack">
            {{#each cancion}}
            <div>
                {{!-- <li>
                    <p class="track">ajshdfjkgasfg</p>
                </li>
                <li>
                    <p class="track">ajshdfjkgasfg</p>
                </li>
                <li>
                    <p class="track">ajshdfjkgasfg</p>
                </li>
                <li>
                    <p class="track">ajshdfjkgasfg</p>
                </li>
                <li>
                    <p class="track">ajshdfjkgasfg</p>
                </li> --}}
                <li>
                    <p class="track" id="{{this.id}}" onclick="fileName({{this.id}})">{{this.track}}</p>
                    <p class="track" id="up{{this.id}}" style="display: none;">{{this.uploadBy}}</p>
                </li>
            </div>
            {{/each}}
        </ul>
    </div>
    <div id="contentAudio">
        <div class="infoTrack">
            <p id="audioRep"></p>
            <p id="userUp"></p>
        </div>
        <audio id="audio" src="" controls autoplay></audio>
    </div>
</div>