<div class="contentUser">
    <img src="/img/users/{{user.avatar}}" class="userPicture">
    <h1 id="userName" onclick="event.stopPropagation()">
        <img src="/img/menu.png" onclick="config()" id="menu" title="Configurar Usuario">
        {{user.user}}
        <ul id="config" style="display: none;">
            <li class="contentConfigUser"><a class="configUser" href="/changePassword">Cambiar
                    contarseña</a>
            </li>
            <li class="contentConfigUser"><a class="configUser" href="#" id="deleteUser" onclick="alertUser()">Eliminar
                    cuenta</a>
            </li>
            <li class="contentConfigUser"><a class="configUser" href="/auth/logout">Salir</a></li>
        </ul>
    </h1>
    <form action="/api/tracksUser" method="GET" style="display: inline;">
        <input type="text" value="{{user.user}}" name="trackUser" style="display: none;">
        <button class="myTracks">Mis Canciones</button>
    </form>
    <form action="/api/uploadTrack" method="GET" style="display:inline;">
        <button type="submit" id="addTrack">
            <img src="/img/add-track.png" title="Agregar cancion" class="addTrack">
        </button>
    </form>
    {{#if message}}
    <p id="message" class="{{message.class}}">{{message.content}}</p>
    {{/if}}
    <div class="contentQuery">
        <form id="formQuery" action="/api/filterTracks" method="GET">
            <input type="search" name="cancion" id="cancion" placeholder="Buscar Canción">
            <input type="submit" value="Buscar" id="buscar">
        </form>
    </div>
    <div id="selectGenre" onclick="event.stopPropagation()">
        <img src="/img/filter.png" id="filter" title="Filtrar Genero" onclick="filter()">

        <select name="genre" id="genre" onchange="changeOption(this)" size="3" style="display: none;">
            <option value="">>Filtrar por Genero</option>
            <option value="allTracks">Todas las Canciones</option>
            <option value="filterTracks?genre=Bachata">Bachata</option>
            <option value="filterTracks?genre=Salsa">Salsa</option>
            <option value="filterTracks?genre=Rock">Rock</option>
            <option value="filterTracks?genre=Reggaeton">Reggaeton</option>
            <option value="filterTracks?genre=Cumbia">Cumbia</option>
            <option value="filterTracks?genre=Merengue">Merengue</option>
            <option value="filterTracks?genre=Vallenato">Vallenato</option>
            <option value="filterTracks?genre=Otro">Otro</option>
        </select>
    </div>
</div>
<div class="app">
    <div id="contentListTracks">
        <ul id="contentTrack">
            {{#each cancion}}
            <div>
                <li>
                    <p class="track" id="{{this.id}}" onclick="fileName({{this.id}})">{{this.track}}</p>
                    <p class="track" id="up{{this.id}}" style="display: none;">{{this.uploadBy}}</p>
                </li>
            </div>
            {{/each}}
            <ul id="pageContent">
                <li class="page" id="previusPage">
                    <a class="pageLink" href="/allTracks?page={{results.previous.page}}">Previous</a>
                </li>
                <li class="page"><a class="pageLink" id="actualPage"
                        href="/allTracks?page={{results.actual.page}}">{{results.actual.page}}</a></li>
                <li class="page">
                    <a class="pageLink" href="/allTracks?page={{results.next.page}}">Next</a>
                </li>
            </ul>
        </ul>
    </div>
    <div id="contentAudio">
        <div class="infoTrack">
            <p id="audioRep"></p>
            <p id="userUp"></p>
        </div>
        <audio id="audio" src="" controls autoplay></audio>
    </div>
</div>