<div class="contentUser">
    <img src="img/users/{{user.avatar}}" class="userPicture">
    <h1 id="userName" onclick="event.stopPropagation()">
        <img src="img/menu.png" onclick="config()" id="menu" title="Configurar Usuario">
        {{user.user}}
        <ul id="config" style="display: none;">
            <li class="contentConfigUser"><a class="configUser" href="/changePassword">Cambiar contarseña</a></li>
            <li class="contentConfigUser"><a class="configUser" href="#" id="deleteUser" onclick="alertUser()">Eliminar
                    cuenta</a></li>
            <li class="contentConfigUser"><a class="configUser" href="/logout">Salir</a></li>
        </ul>
    </h1>
    <form action="/tracksUser" method="GET" style="display: inline;">
        <input type="text" value="{{user.user}}" name="tracksUser" style="display: none;">
        <button class="myTracks">Mis Canciones</button>
    </form>
    {{#if message}}
    <p id="message" class="{{message.class}}">{{message.content}}</p>
    {{/if}}
    <div class="contentQuery">
        <form id="formQuery" action="/filterTracks" method="GET">
            <input type="search" name="cancion" id="cancion" placeholder="Buscar Canción">
            <input type="submit" value="Buscar" id="buscar">
        </form>
    </div>
    <div class="contentUserTrack">
        <div class="uploadTrack">
            <form class="upload" action="/tracks" method="POST" enctype="multipart/form-data">
                <input type="text" name="newId" id="newId" style="display: none;">
                <input type="file" name="track" id="track" accept="audio/*" onclick="addId()">
                <input type="text" name="userName" value="{{user.user}}" id="userName" style="display: none;">
                <input type="text" name="artist" id="artist" placeholder="Ingrese Artista">
                <select name="genres" id="genres" required>
                    <option>--Seleccione un Genero--</option>
                    <option value="Bachata">Bachata</option>
                    <option value="Salsa">Salsa</option>
                    <option value="Rock">Rock</option>
                    <option value="Reggaeton">Reggaeton</option>
                    <option value="Cumbia">Cumbia</option>
                    <option value="Merengue">Merengue</option>
                    <option value="Vallenato">Vallenato</option>
                    <option value="Otro">Otro</option>
                </select>
                <input type="submit" value="Enviar" id="submitTrack">
            </form>
        </div>
    </div>
</div>