<div class="contentUser">
    <img src="img/users/user.png" class="userPicture">
    <h1 id="userName">{{user.user}}</h1>
    <form action="/tracksUser" method="GET" style="display: inline;">
        <input type="text" value="{{user.user}}" name="tracksUser" style="display: none;">
        <button class="myTracks">Mis Canciones</button>
    </form>
    {{#if message}}
    <p id="message" class="{{message.class}}">{{message.content}}</p>
    {{/if}}
    <div class="contentQuery">
        <form id="formQuery" action="/canciones" method="GET">
            <input type="search" name="cancion" id="cancion" placeholder="Buscar Canción">
            <input type="submit" value="Buscar" id="buscar">
        </form>
    </div>
    <div class="contentUserTrack">
        <div class="uploadTrack">
            <form class="upload" action="/tracks" method="POST" enctype="multipart/form-data">
                <input type="text" name="newId" id="newId" style="display: none;">
                <input type="file" name="track" id="track" accept="audio/*" onclick="addId()">
                <input type="text" name="userName" value="{{user.user}}" id="userName" style="display: none;">
                <input type="text" name="artist" id="artist" placeholder="Ingrese Artista">
                <select name="genres" id="genres" required>
                    <option value="AllGeners">--Seleccione un Genero--</option>
                    <option value="Bachata">Bachata</option>
                    <option value="Salsa">Salsa</option>
                    <option value="Bachata">Rock</option>
                    <option value="Salsa">Reggaeton</option>
                    <option value="Bachata">Cumbia</option>
                    <option value="Salsa">Merengue</option>
                    <option value="Bachata">Vallenato</option>
                    <option value="Salsa">Otro</option>
                </select>
                <input type="submit" value="Enviar" id="submitTrack">
            </form>
        </div>
    </div>
</div>